<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <ApplicationRevision>1</ApplicationRevision>
        <ApplicationVersion>1.0.0.*</ApplicationVersion>
        <BootstrapperEnabled>True</BootstrapperEnabled>
        <Configuration>Release</Configuration>
        <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
        <GenerateManifests>True</GenerateManifests>
        <Install>True</Install>
        <InstallFrom>Disk</InstallFrom>
        <IsRevisionIncremented>True</IsRevisionIncremented>
        <IsWebBootstrapper>False</IsWebBootstrapper>
        <MapFileExtensions>True</MapFileExtensions>
        <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
        <Platform>Any CPU</Platform>
        <ProductName>YouTubeStreamTemplates</ProductName>
        <PublishDir>D:\Downloads\test\2\</PublishDir>
        <PublishUrl>D:\Downloads\test\2\</PublishUrl>
        <PublisherName>Swerik</PublisherName>
        <PublishProtocol>ClickOnce</PublishProtocol>
        <PublishReadyToRun>False</PublishReadyToRun>
        <PublishSingleFile>False</PublishSingleFile>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <SelfContained>True</SelfContained>
        <SignatureAlgorithm>(none)</SignatureAlgorithm>
        <SignManifests>False</SignManifests>
        <TargetFramework>net5.0</TargetFramework>
        <UpdateEnabled>False</UpdateEnabled>
        <UpdateMode>Foreground</UpdateMode>
        <UpdateRequired>False</UpdateRequired>
        <WebPageFileName>Publish.htm</WebPageFileName>
        <History>False|2021-04-26T15:34:59.9385201Z;False|2021-04-26T17:34:24.1607975+02:00;</History>
    </PropertyGroup>
    <ItemGroup>
        <PublishFile Include="bin\Debug\net5.0\client_id.json">
            <Group>
            </Group>
            <TargetPath>
            </TargetPath>
            <PublishState>Include</PublishState>
            <IncludeHash>true</IncludeHash>
            <FileType>File</FileType>
        </PublishFile>
    </ItemGroup>
</Project>