[Desktop Entry]
Name=YouTubeStreamTemplates
GenericName=YouTube Template Tool
GenericName[de]=YouTube Vorlagen Tool
Comment=Templates for YouTube LiveStreams
Comment[de]=Vorlagen für YouTube LiveStreams
Comment[en_CA]=Templates for YouTube LiveStreams
Comment[en_GB]=Templates for YouTube LiveStreams
Exec=/opt/YouTubeStreamTemplates/YouTubeStreamTemplatesCrossPlatform
StartupNotify=true
Terminal=false
Type=Application
Categories=YouTube;LiveStream;
Icon=/opt/YouTubeStreamTemplates/YouTubeStreamTemplatesCrossPlatform.ico
MimeType=